.envelope {
  display: flex;
  flex-direction: column;
  background-color: rgba(214, 228, 214, 0.589);
  /* background-color: rgb(215, 232, 211); */
  background-color: #92abb2;
  border: solid rgb(0, 0, 0);
  width: 15em;
  height: 15em;
  border-radius: 20px;
  position: relative;
}
.redEnv {
  background-color: rgba(205, 82, 82, 0.872);
  padding-bottom: 25px;
  padding-right: 12px;
  justify-content: center;
}
.envelope p {
  font-size: 4em;
  font-weight: 500;
  color: rgba(195, 0, 143, 0.655);

}
.envelope button {
  padding: 5px 15px;
  align-self: center;
  background-color: rgb(227, 224, 199);
}
.envelope span {
  display: flex;
  font-size: 1.66em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  align-self: flex-start;
  position: absolute;
  left: 0;
  margin-left: 10px;
}
.env-tracker {
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
}


