.envelope {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(215, 196, 159, 0.6);
  border: solid white;
  width: 10em;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
}
.envelope p {
  font-size: 50px;
}
.envelope button {
    padding:5px 20px;
    align-self: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
