.envelope {
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 200, 133, 0.767);
  border: solid white;
  width: 15em;
  height: 15em;
  border-radius: 20px;
  position: relative;
}
.redEnv {
  background-color: rgba(205, 82, 82, 0.872);
  padding-bottom: 25px;
  padding-right: 12px;
  justify-content: center;
}
.envelope p {
  font-size: 4em;
  font-weight: 500;

}
.envelope button {
  padding: 5px 15px;
  align-self: center;
}
.envelope span {
  display: flex;
  font-size: 1.66em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  align-self: flex-start;
  position: absolute;
  left: 0;
  margin-left: 10px;
}
.env-tracker {
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
}


