.startingBudget {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: auto; */
    /* justify-content: space-between; */
    border: 4px solid orange;
    margin-top: 2em;
}

button {
    background-color: rgba(80, 80, 80);
    width: 45%;
    margin: 10px 0px;
}
