.startingBudget {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

button {
    background-color: rgba(80, 80, 80);
    
}

.moreOrLess {
    display: flex;
    align-items: start;
    width: 10em;
    height: 2em;
    justify-content: space-evenly;
}